.Intero {
    background: url('../../../img/01/Photo.png') center center/cover no-repeat;
    height: 1200px;
    position: relative;
    &__style {
        position: absolute;
        display: flex;
        width: 140px;
        height: 25px;
        justify-content: space-between;
        top: 15px;
        a {
            text-decoration: none;
        }

        &__dark {
            display: block;
            height: 25px;
            width: 60px;
            background: #000;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items:center;
            font-size: 15px;
            border: 3px solid #367848;
            border-radius: 5px;
        }
        &__white {
            display: block;
            height: 25px;
            width: 60px;
            background: #fff;
            color: #000;
            display: flex;
            justify-content: center;
            align-items:center;
            font-size: 15px;
            border: 3px solid #fff;
            border-radius: 5px;
        }
    }
    &__menuLine {
        padding-top: 50px;
        display: flex;
        width: 90vw;
        &__logo {
            margin-left: 2vw;
        }
        &__menu {
            padding-left: 27vw;
            height: 150px;
            ul {
                list-style-type: none;
                li {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 170.02%;
                    text-align: center;
                    letter-spacing: -0.045em;
                    text-transform: uppercase;
                    a {
                        color: #F7F7F7;
                    }
                }
            }
        }
        &__menuBtn {
            position: absolute;
            right: 50px;
            cursor: pointer;
            &__knopf {
                display: block;
                width: 129px;
                height: 39px;
                border: 1px solid #FFFFFF;
                border-radius: 30px;
                z-index: 1;
            }
            &__text {
                position: absolute;
                padding-left: 36px;
                margin-top: -28px;
                z-index: 10;
                a {
                    color: #F7F7F7;
                    text-decoration: none;
                }
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                text-transform: uppercase;
            }
        }
    }
    &__header {
        display: block;
        margin: 0 auto;
        margin-top: 170px;
        width: 1177px;
        height: 375px;
        font-weight: 300;
        font-size: 120px;
        line-height: 104.02%;
        text-align: center;
        letter-spacing: -0.055em;
        text-transform: uppercase;
        color: #F7F7F7;
    }
    &__bottomLine {
        margin-top: 372px;
        display: flex;
        width: 90vw;
        &__email {
            margin-left: 20px;
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 107.02%;
            text-align: center;
            letter-spacing: -0.045em;
            color: #F7F7F7;
        }
        &__place {
            padding-left: 27vw;
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 107.02%;
            text-align: center;
            letter-spacing: -0.045em;
            color: #F7F7F7;
        }
        &__time {
            position: absolute;
            right: 200px;
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 107.02%;
            text-align: center;
            letter-spacing: -0.045em;
            color: #F7F7F7;
        }
    }
    &__hamburger {
        display: none;
    }
    &__mobile {
        display: none;
    }

    &__weather {
        position: absolute;
        top: 10px;
        left: 55%;
        display: flex;
        width: 450px;
        height: 40px;
        justify-content: space-between;
        align-items: center;
        &__city {
            color: #F7F7F7;
            font-size: 14px;
            display: none;
        }
        &__temperatur {
            color: #F7F7F7;
            font-size: 14px;
            display: none;
        }
        &__description {
            color: #F7F7F7;
            font-size: 14px;
            display: none;
        }
        img {
            width: 40px;
            display: none;
        }
    }
    &__weatherBtn {
        position: absolute;
        right: 50px;
        top: 150px;
        cursor: pointer;

        &__knopf {
            display: block;
            width: 129px;
            height: 39px;
            border: 1px solid #FFFFFF;
            border-radius: 30px;
            z-index: 5;
        }
        &__text {
            position: absolute;
            padding-left: 30px;
            margin-top: -28px;
            z-index: 0;
            a {
                color: #F7F7F7;
                text-decoration: none;
            }
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
        }
    }
}  