.we {
    background-color: $main-color;
    height: 1200px;
    &__textBox {
        display: flex;
        &__text-links {
            padding-top: 316px;
            width: 475px;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: -0.045em;
            color: #F7F7F7;
        }
        &__centerBox {
            display: block;
            height: 1084px;
            width: 1678px;
            margin-top: 107px;
            margin-left: 0px;
            background: url('../../../img/02/Map.png');
            &__header {
                padding-top: 43px;
                margin-left: 210px;
                font-style: normal;
                font-weight: 300;
                font-size: 90px;
                line-height: 107.02%;
                letter-spacing: -0.045em;
                text-transform: uppercase;
                color: #F7F7F7;
            }
            &__text {
                width: 770px;
                margin-left: 210px;
                padding-top: 70px;
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 22px;
                letter-spacing: -0.045em;
                color: #F7F7F7;
                margin-bottom: 50px;
            }
            &__line {
                display: block;
                margin-left: 210px;
                background: #367848;
                width: 770px;
                height: 1px;
            }

            &__zahlbox {
                display: flex;
                position: relative;
                &__zahl {
                    display: inline-block;
                    margin-top: 20px;
                    margin-left: 210px;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 160px;
                    line-height: 85%;
                    letter-spacing: -0.045em;
                    color: #367848;
                    margin-bottom: 20px;

                }
                &__erklarung {
                    display: inline-block;
                    margin-top: 77px;
                    margin-left: 15px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 107.02%;
                    text-align: center;
                    letter-spacing: -0.045em;
                    color: #F7F7F7;
                }
            }
        }
    }
}