.team {
    height: 890px;
    background-color: $main-color;
    position: relative;
    margin-top: -2px;
    &__header {
        font-style: normal;
        font-weight: 300;
        font-size: 90px;
        line-height: 107.02%;
        letter-spacing: -0.045em;
        text-transform: uppercase;
        color: #F7F7F7;
        padding-top: 100px;
        margin-left: 625px;
    }
    &__slider {
        margin-top: 50px;
        width: 1820px;
        overflow: hidden;
        &__person__name {
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 107.02%;
            letter-spacing: -0.045em;
            text-transform: uppercase;
            color: #F7F7F7;
            margin-top: 19px;
        }
    }
    &__slides {
        display: flex;
        gap: 30px;
    }
    &__btn {
        position: absolute;
        top: 300px;
        left: 1600px;
        display: block;
        height: 150px;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items:center;
        border-radius: 50%;
        background: #367848;
        cursor: pointer;

        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 107.02%;
        letter-spacing: -0.045em;
        text-transform: uppercase;
        color: #F7F7F7;
    }
}